* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #171717;
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-cover {
  position: relative;
  width: 100%;
  /* viewport height = vh */
  height: 100vh;
}

.main-cover__image,
.main-cover__content {
  width: 100%;
  height: 100%;
}

.main-cover__image {
  position: absolute;
  object-fit: cover;
}

.main-cover__content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-text {
  background-color: rgba(12, 12, 12, 0.5);
  min-height: 3rem;
  border-radius: 0.3rem;
  display: inline-block;
  border: 1px solid white;
  color: white;
  padding-left: 1rem;
}

[class^="button--"],
.button {
  --background-color: #e60a15;
  --color-button: white;
  border: 0;
  background: var(--background-color);
  color: var(--color-button);
  padding: 0 0.8rem;
  border-radius: 0.25rem;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-cover__title {
  margin: 1rem 0;
}
.main-cover__subtitle {
  margin-bottom: 1rem;
}

.search-input-container {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
}

/* RESULT STYLE */

.header-menu__link {
  padding: 1.8rem 0;
  border-bottom: 2px solid white; /* Color de borde y grosor inicial */
  transition: border-bottom 0.8s ease; /* Propiedad de transición */
}

.header-menu__link:hover {
  color: #e60a15;
  border-bottom-color: #e60a15;
}

.header-container__title {
  color: white;
}

.header-container__link {
  color: #0682b2;
  font-size: 18px;
}

/* .container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  border: solid black;
} */

.header-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  margin-top: 6rem;
  align-items: center;
  background-color: #fff;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

.container-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  min-height: 15rem;
}

.img-movie__container {
  background-color: white;
  border-radius: 0.7rem;
}

.img-movie__ticket {
  --height: 25rem;
  min-height: var(--height);
  max-height: var(--height);
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent);
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}

.container-movies__info {
  padding: 0 0 1rem 1rem;
}
.img-movie__title {
  color: #e60a15;
  margin: 0.5rem 0;
}

.img-movie__text {
  color: #7b7b7b;

  margin: 0.5rem 0;
}

.img-movie__link {
  color: #a43b3b;
  border-bottom: #a43b3b solid 1.5px;
}

.loader {
  width: 100%;
  height: 100vh;
  margin: auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader__text {
  margin: 5px auto;
  color: #e60a15;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
}
.loader__filmstrip {
  position: relative;
  width: 56px;
  height: 70px;
  background: #e60a15;
  z-index: -1;
  overflow: hidden;
}
.loader__filmstrip:before,
.loader__filmstrip:after {
  content: "";
  position: absolute;
  height: 120%;
  border-left: 5px dashed #f5f1ed;
  -webkit-animation: roll 20ms infinite;
  animation: roll 20ms infinite;
}
.loader__filmstrip:before {
  left: 5px;
}
.loader__filmstrip:after {
  right: 5px;
}

@-webkit-keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}

@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.movie-header {
  position: relative;
  height: 50rem;
}

.movie-header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(1, 10, 33, 0) 0, #000000 100%);
}

.movie-header__background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

.movie-detail__content {
  background-color: rgba(0, 0, 0, 0.92);
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  z-index: 3;
  position: relative;
}

.movie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  border-radius: 0.25rem;
  margin-top: -35rem;
  grid-auto-rows: auto;
}

.movie-heading {
  align-self: flex-start; /* Alinea el movie-heading en la parte superior */
}

.movie-poster {
  width: 100%;
  grid-column: 1 / 6;
}

.movie-heading,
.movie-about,
.movie-cast,
.movie-video {
  grid-column: 6 / -1;
}

.movie-clasification {
  border: 1px solid #fff;
  border-radius: 0.25rem;
  padding: 0.15rem;
}

.movie-description__title {
  font-size: 5rem;
}
.movie-description__subtitle {
  margin-top: 2rem;
  font-size: 3vmin;
  margin-bottom: 2rem;
}

.cast-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}
.cast {
  background: rgb(26, 26, 26);
  padding: 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.35rem;
}

.cast-photo {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.movie-rating {
  display: flex;
  align-items: center;
  margin: 0.45rem 0;
}

.movie-paragraph {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.movie-description__extra {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.cast-photo {
  margin: 1rem 0;
}

.cast-name-actor {
  font-weight: bold;
  font-size: 0.9rem;
}

.cast-name-character {
  font-size: 0.8rem;
}

.movie-img {
  border-radius: 0.25rem;
  overflow: hidden;
  position: sticky;
  top: 20px;
}

.movie-credits  {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movie-trailer {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  margin-top: 1rem;
  background: rgb(30, 32, 41);
  border-radius: 0.25rem;
}

.poster-image {
  width: 100%;
  height: auto;
  border-radius: 0.45rem;
}

.nav-search {
  background-color: rgb(26, 26, 26);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem 0;
}

.input-search,
.input-search:focus,
.input-search::selection {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  border: 2px solid rgb(245, 197, 24);
  color: rgba(0, 0, 0, 0.87);
  caret-color: rgba(0, 0, 0, 0.54);
}

.search-container {
  position: relative;
}

.search-list-results {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  width: 100%;
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius: 0.25rem;

  list-style-type: none;
  transition: opacity 75ms linear, transform 0.15s ease-in;
  transform: scale(1);

  opacity: 0;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.search-container .search-list-results {
  display: none;
}

/* Mostrar resultados cuando el input está enfocado */
.search-container .input-search:focus + .search-list-results {
  display: grid;
  opacity: 1;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
}

.search-list-results__label {
  color: #fff;
}

.search-list-results__item a {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.search-list-results__item {
  width: 100%;
}
.search-list-results__item a:hover  {
  background-color: rgba(0, 0, 0, 0.08);
}
.search-list-results__poster {
  width: 100px;
  height: auto;
}

@media (max-width: 992px) {
  .movie {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .movie-heading,
  .movie-about,
  .movie-cast,
  .movie-poster,
  .movie-video {
    grid-column: 1;
  }

  .movie-heading {
    grid-row: 2;
  }
  .movie-about {
    grid-row: 3;
  }
  .movie-cast {
    grid-row: 4;
  }
  .movie-poster {
    grid-row: 1;
  }
  .movie-video {
    grid-row: 5;
  }
}
